---
import type { Form as Props } from '~/types';
import Button from '~/components/ui/Button.astro';
import { sendEmail } from '../../email';

export async function post({ request }) {
  const formData = await request.formData();
  const email = formData.get('email');
  const subject = formData.get('subject');
  const message = formData.get('message');

  await sendEmail(email, subject, message);

  return {
    body: JSON.stringify({ success: true }),
  };
}

const { inputs, textarea, disclaimer, button = 'Contact us', description = '' } = Astro.props;
const errors = { username: '', email: '', password: '' };

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData();
    const name = data.get('name');
    const email = data.get('email');
    const message = data.get('message');

    if (typeof name !== 'string' || name.length < 1) {
      errors.username += 'Please enter a username. ';
    }

    if (typeof email !== 'string' || email.length < 1) {
      errors.username += 'Please enter an email. ';
    }

    if (typeof message !== 'string') {
      errors.password += 'Please enter a message. ';
    }

    const hasErrors = Object.values(errors).some((msg) => msg);
    if (!hasErrors) {
      // await post({ name, email, message });
      return Astro.redirect('/contact/success');
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<form action="/send-email" method="POST">
  {
    inputs &&
      inputs.map(
        ({ type = 'text', name, label = '', autocomplete = 'on', placeholder = '' }) =>
          name && (
            <div class="mb-6">
              {label && (
                <label for={name} class="block text-sm font-medium">
                  {label}
                </label>
              )}
              <input
                type={type}
                name={name}
                id={name}
                autocomplete={autocomplete}
                placeholder={placeholder}
                class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
              />
              {errors[name] && <p>{errors[name]}</p>}
            </div>
          )
      )
  }

  {
    textarea && (
      <div>
        <label for="textarea" class="block text-sm font-medium">
          {textarea.label}
        </label>
        <textarea
          id="textarea"
          name={textarea.name ? textarea.name : 'message'}
          rows={textarea.rows ? textarea.rows : 4}
          placeholder={textarea.placeholder}
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        />
        {textarea.name && errors[textarea.name] && <p>{errors[textarea.name]}</p>}
      </div>
    )
  }

  {
    disclaimer && (
      <div class="mt-3 flex items-start">
        <div class="flex mt-0.5">
          <input
            id="disclaimer"
            name="disclaimer"
            type="checkbox"
            class="cursor-pointer mt-1 py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
          />
        </div>
        <div class="ml-3">
          <label for="disclaimer" class="cursor-pointer select-none text-sm text-gray-600 dark:text-gray-400">
            {disclaimer.label}
          </label>
        </div>
      </div>
    )
  }

  {
    button && (
      <div class="mt-10 grid">
        <Button variant="primary" type="submit">
          {button}
        </Button>
      </div>
    )
  }

  {
    description && (
      <div class="mt-3 text-center">
        <p class="text-sm text-gray-600 dark:text-gray-400">{description}</p>
      </div>
    )
  }
</form>
